<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      SAIF - RESPONSAVEIS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../assets/icon/logo.png"></ion-img>

  <ion-card>
    <div class="ion-padding">

      <ion-item>
        <ion-label position="floating">EMAIL:</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">SENHA:</ion-label>
        <ion-input></ion-input>
      </ion-item>



      <br>
      <a (click)="redefinir()">Esqueceu a senha?</a><br>
      <br>
      <br>
      <b>Não possui uma conta?</b> <a href="cadastro"> CADASTRE-SE</a><br>



    </div>
  </ion-card>
  <ion-button color="success" href="telainicial">ACESSAR</ion-button>

</ion-content>
